/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,button{
  font-family: IBM Plex mono;
}

a {
  text-shadow: 2px 2px 0 rgba(255, 0, 112, 1);
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/*----------------------- ШАПКА САЙТА ----------------------- */

.header {
  display: grid;
  grid-template-rows: 319px 243px 1fr;
  width: 1024px;
  height: 768px;
  margin-bottom: 28px;
  background-color: rgb(0, 0, 95);
  /* background-image: url("C:\Users\User\Desktop\slozhno-sosredotochitsya-ad-main\images\cover-image-dark.png"); */
}

.top-line-saita {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* border: 1px red solid; */
}

.REC-conteiner {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  position: relative;
  top: -137px;
}

.REC-conteiner_right {
  justify-self: start;
}

.REC{
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 0, 112, 1);

}

.cirkl-REC {
  width: 9px;
  height: 9px;
  background-color: rgba(255, 0, 112, 1);
  border-radius: 50%;
  box-shadow: 0 0 4px 3px rgba(255, 0, 112, 1); 
  position: relative;
  left: 8px;

  /* border: 1px rgba(255, 0, 112, 1) solid; */
}

.border-circle {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;
  top: 1px;
  border-top: 1px rgba(255, 0, 112, 1) solid;
  border-right: 1px rgba(255, 0, 112, 1) solid;
}

.header__theme-menu-list {
  width: 230px;
  height: 26px;
  display: flex;
  gap: 10px;
  list-style: none;
  justify-self: center;

  /* border: 1px red solid; */
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: none;
  color: rgba(255, 0, 112, 1);
  
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

/* НАЛАДИТЬ РЕЖИМЫ */
.header__theme-menu-button:active {
  border: 1px solid rgba(255, 0, 112, 1);
}
.header__theme-menu-button.header__theme-menu-button:hover {
  border-bottom: 1px solid rgba(255, 0, 112, 0,4);
}
.header__theme-menu-button:focus {
  border: none;
}
.header__theme-menu-button:focus-visible {
  border: 1px solid rgba(255, 0, 112, 1);
}
/* ------ */

.title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 157px;
  line-height: 83%;
  letter-spacing: 0%;
  color: rgba(219, 0, 255, 1);
  text-shadow: 5px 5px 0 rgba(255, 0, 112, 1);
}

.header-text {
  width: 491px;
  height: 71px;
  margin-left: 515px;
  background-color: rgba(255, 0, 112, 1);

  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: rgba(0, 0, 40, 1);
}


/*----------------------- ТЕЛО САЙТА ----------------------- */

.main {
  width: 1024px;
  height: 3352px;
  padding: 0 20px;
  margin-bottom: 40px;
}

.conteiner-main {
}

/* ----- */

.conteiner-main_1 {
  display: grid;
  grid-template-columns: 1fr 648px;
  margin-bottom: 80px;
}

.red-title-conteiner{
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: rgba(255, 0, 112, 1);
}

.black-title-conteiner{
  background-color: rgba(255, 0, 112, 1);
  color: rgba(0, 0, 40, 1);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.cntnr_1-text {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.cntnr_text {
  margin-top: 10px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: rgba(241, 178, 206, 1);
}

/* ----- */

.conteiner-main_2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.title-2 {
  width: 315px;
}

.cntnr_2-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

/* ----- */

.conteiner-main_3 {
  display: grid;
  grid-template-columns: 1fr 648px;
  gap: 20px;
  margin-bottom: 79px;
}

.cntnr_3-text{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.black-title-conteiner_no_bold {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: rgba(255, 0, 112, 1);
  color: rgba(0, 0, 40, 1);
}
 
/* ----- */
.container-galer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.galereya {
  display: grid;
  grid-template-columns: 315px 315px 314px;
  grid-template-rows: 260px 315px 433px;
  gap: 20px;
}

.img {
  object-fit: cover; 
  object-position: center;
}

.img-sunset{
  width: 650px;
  height: 260px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.img-street{
  width: 649px;
  height: 433px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.img-ice-cream{
  width: 314px;
  height: 595px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.img-books{
  width: 315px;
  height: 315px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.img-tape{
  width: 315px;
  height: 768px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

/*----------------------- ПОДВАЛ САЙТА ----------------------- */

.footer {
  width: 1024px;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.footer-text {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 157px;
  line-height: 83%;
  letter-spacing: 0%;
  color: rgba(219, 0, 255, 1);
  text-shadow: 2px 2px 0 rgba(255, 0, 112, 1);
}

/* -------- АДАПТАЦИЯ ПЛАНШЕТЫ --------  */

@media (width <= 768px) and (height <= 1024) {
  .header {
  display: grid;
  grid-template-rows: 500px 243px 1fr;
  width: 768px;
  height: 1024px;
  margin-bottom: 28px;
  background-color: rgb(0, 0, 95);
  /* background-image: url("C:\Users\User\Desktop\slozhno-sosredotochitsya-ad-main\images\cover-image-dark.png"); */
}

.top-line-saita {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* border: 1px red solid; */
}
}







/* -------- АДАПТАЦИЯ ТЕЛЕФОН --------  */